platforms/android/assets/
bin/
gen/
*.class
*.apk
*.ap_
build/*
platforms/ios/www/

# Mac
.Spotlight-V100
.Trashes
local.properties

# Built
dist
_gh_pages
_site
.ruby-version

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
